// --- HANGMAN WORD ---
.word-wrapper {
    display: flex;
    gap: 0.25em;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.displayed-word {
    border-bottom: 0.1em solid #000;
}
