// --- APP ---
body {
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.game-over {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

// --- DRAWING ---

.drawing-wrapper {
    position: relative;
}

.base {
    height: 10px;
    width: 250px;
    background-color: #000;
}

.pillar {
    height: 400px;
    width: 10px;
    background-color: #000;
    margin-left: 120px;
}

.bar {
    height: 10px;
    width: 200px;
    background-color: #000;
    margin-left: 120px;
}

.rope {
    height: 50px;
    width: 10px;
    background-color: #000;
    margin-left: 120px;
    position: absolute;
    top: 0;
    right: 0;
}

// --- PERSON ---
.head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #000;
    position: absolute;
    top: 50px;
    right: -30px;
}

.body {
    width: 10px;
    height: 100px;
    position: absolute;
    background-color: #000;
    top: 120px;
    right: 0;
}

.right-arm {
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #000;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}

.left-arm {
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #000;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom;
}

.right-leg {
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #000;
    top: 210px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}

.left-leg {
    width: 100px;
    height: 10px;
    position: absolute;
    background-color: #000;
    top: 210px;
    right: 0;
    rotate: -60deg;
    transform-origin: right bottom;
}

// --- HANGMAN WORD ---
.word-wrapper {
    display: flex;
    gap: 0.25em;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.displayed-word {
    border-bottom: 0.1em solid #000;
}

// --- KEYBOARD ---
.keyboard-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.5rem;
}
